.div-header {
    width: 300px;
    height: 20px;
    font-size: small;
    color: gray;
    margin: 0 auto;
}

.div-menu {
    width: 100%;
    height: 70px;
    background-color: rgb(63, 55, 31);
    border: solid 1px;
    border-color: white;
    border-radius: 3px;
}

.div-logo img {
    width: 68px;
    height: 68px;
    margin-left: 20px;
    margin-top: 1px;
    float: left;
}

.div-menu-options {
    width: 610px;
    height: 70px;
    float: left;
    margin-left: 300px;
}

.div-menu-options-option {
    width: 120px;
    height: 68px;
    float: left;
    background-color: rgb(63, 55, 31);
    color: black;
    font-size: large;
    border-left: solid 1px;
    border-right: solid 1px;
    border-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.div-menu-options-option:hover {
    cursor: pointer;
    background-color: rgb(48, 35, 0);
    color: white
}

.div-menu-utils {
    width: 350px;
    height: 70px;
    margin-left: 100px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-menu-utils-search {
    width: 180px;
    height: 70px;
    float: left;
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.div-menu-utils-search-icon img {
    width: 20px;
    height: 20px;
}

.menu-utils-search-input {
    width: 160px;
    height: 30px;
    border-radius: 5px;
    margin-left: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
}

.div-menu-utils-icon img {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.div-menu-utils-icon:hover {
    cursor: pointer;
}

.div-menu-wallpaper {
    width: 100%;
    height: 85%;
}

.div-menu-wallpaper img {
    width: 100%;
    height: 100%;
    margin-top: 5px;
    position: relative;
}

.div-menu-wallpaper-message {
    width: 30%;
    height: 200px;
    color: #ffe9c4;
    font-size: xx-large;
    text-align: center;
    position: absolute;
    top: 300px;
    margin-left: 530px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.div-menu-wallpaper-button {
    width: 10%;
    height: auto;
    background-color: rgb(0, 177, 0);
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: solid 1px;
    border-radius: 5px;
    border-color: white;
    position: absolute;
    top: 450px;
    margin-left: 680px;
    color: white;
    text-align: center;
    padding-top: 15px;
}

.div-menu-wallpaper-button:hover {
    cursor: pointer;
    background-color: rgb(0, 255, 0);
    border-color: black;
}

.div-produtos {
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

.div-produtos-titulo {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: xx-large;
    color: rgb(48, 35, 0);
    font-style: italic;
}

.div-produtos-list {
    width: 900px;
    height: 280px;
    margin: 0 auto;
    margin-top: 80px;
}

.div-produtos-list-item {
    width: 250px;
    height: 280px;
    margin: 0 auto;
    float: left;
    margin-left: 40px;
    background-color: rgb(180, 180, 180);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.div-produtos-list-item img {
    width: 250px;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.div-produtos-list-item-title {
    width: 250px;
    height: 30px;
    margin-top: 5px;
    text-align: center;
    color: rgb(39, 39, 39);
    font-size: medium;
}

.div-produtos-list-item-preco {
    width: 250px;
    height: 30px;
    margin-top: 15px;
    background-color: rgb(3, 190, 3);
    color: white;
    font-size: medium;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.div-produtos-mais-op {
    width: 10%;
    height: auto;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: solid 1px;
    border-radius: 5px;
    border-color: rgb(3, 190, 3);
    color: rgb(3, 190, 3);
    margin-top: 80px;
    padding-top: 15px;
}

.div-produtos-mais-op:hover {
    cursor: pointer;
    background-color: rgb(3, 190, 3);
    color: white;
}

.div-video-demo {
    width: 100%;
    height: 100%;
}

.div-video-demo-titulo {
    width: 600px;
    height: 50px;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: xx-large;
    color: rgb(48, 35, 0);
    font-style: italic;
}

.div-video-demo-video {
    width: 70%;
    height: 70%;
    margin: 0 auto;
    margin-top: 50px;
    border: solid 5px;
    border-radius: 5px;
    border-color: rgb(48, 35, 0);
}

.div-depoimentos {
    width: 700px;
    height: 200px;
    margin: 100px auto;
}

.div-depoimentos-card {
    width: 600px;
    height: 200px;
    color: rgb(48, 35, 0);
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: left;
}

.div-depoimentos-card-button-back img {
    width: 50px;
    height: 50px;
    margin-top: 60px;
    float: left;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.div-depoimentos-card-button-next img {
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 60px;
}

.div-depoimentos-card-button-back:hover {
    cursor: pointer;
}

.div-depoimentos-card-button-next:hover {
    cursor: pointer;
}

.div-contact {
    width: 100%;
    height: 40%;
}

.div-contact-card {
    width: 300px;
    height: 300px;
    margin-left: 50px;
    float: left;
    margin-top: 100px;
}

.div-contact-card-title {
    margin: 0 auto;
    text-align: center;
    color: rgb(39, 39, 39);
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.div-contact-card-content {
    margin-top: 30px;
    color: rgb(112, 112, 112);
    text-align: center;
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.div-footer {
    width: 100%;
    height: 20%;
    background-color: rgb(63, 55, 31);
    margin-bottom: 0px;
}

.div-footer-icons {
    width: 500px;
    height: 50px;
    margin: 50px auto;
}

.div-footer-icons-img {
    width: 50px;
    height: 50px;
    margin-left: 50px;
    float: left;
}

.div-footer-icons-img img {
    width: 30px;
    height: 30px;
}

.div-footer-icons-img img:hover {
    cursor: pointer;
}

.div-login-root {
    width: 100%;
    height: 100%;
}

.div-login-root img {
    width: 100%;
    height: 100%;
}

.div-login {
    width: 500px;
    height: 550px;
    background-color: rgb(86, 89, 90);
    position: absolute;
    top: 100px;
    left: 530px;
    border: solid 1px;
    border-radius: 5px;
    border-color: whitesmoke;
    align-items: center;
    color: whitesmoke;
}

.div-login-form {
    margin: 50px;
}

.div-login-form img {
    width: 50px;
    height: 50px;
    margin-left: 180px;
}

.btn {
    margin-top: 10px;
}

.div-signup-root {
    width: 100%;
    height: 100%;
}

.div-signup-root img {
    width: 100%;
    height: 100%;
}

.div-signup {
    width: 700px;
    height: 500px;
    background-color: rgb(86, 89, 90);
    position: absolute;
    top: 100px;
    left: 430px;
    border: solid 1px;
    border-radius: 5px;
    border-color: whitesmoke;
    align-items: center;
    color: whitesmoke;
}

.div-signup-form {
    width: 95%;
    height: 90%;
    margin: 10px auto;
}

.div-signup-title {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 40px;
}

.div-form-row {
    margin: 30px;
}

.div-form-btn {
    width: 90%;
    height: 50px;
    margin: 0 auto;
}

.div-produtos-root {
    width: 90%;
    height: 90%;
    margin: 0 auto;
}

.div-produtos-list-produto {
    width: 250px;
    height: 310px;
    margin: 15px auto;
    float: left;
    margin-left: 40px;
    background-color: rgb(180, 180, 180);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.div-produtos-list-produto img {
    width: 250px;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.div-produtos-list-produto-preco {
    width: auto;
    height: 30px;
    margin-top: 5px;
    background-color: rgb(32, 156, 32);
    color: whitesmoke;
    font-size: medium;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
}

.div-produtos-list-produto-comprar {
    width: 250px;
    height: 35px;
    margin-top: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(0, 226, 19);
    color: white;
    text-align: center;
    padding-top: 5px;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.div-produtos-list-produto-comprar:hover {
    cursor: pointer;
    background-color: rgb(0, 255, 21);
    color: black;
}